<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
    </style>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>MultiSub</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link href="css/multi-sub.css" rel="stylesheet" />
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
        <!-- thyleleaf -->
        <html xmlns:th="http://www.thymeleaf.org">
        <!-- ajax, jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <!-- bootstrap js -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-sm navbar-light bg-light" id="main-nav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">
                <span class="sub-green">MULTI</span><span class="sub-yellow" >SUB</span>
                </a>
                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi-cart-fill me-1"></i>
                <span class="badge sub-green text-white ms-1 rounded-pill">3</span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <!-- 
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#!">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                                <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                            </ul>
                        </li>
                     -->    
                    </ul>
                          
                    <form class="d-flex" id="cartForm">
                        <button class="btn" id="cart-btn" type="submit">
                            <i class="bi-cart-fill me-1"></i>
                            <span class="badge text-white ms-1 rounded-pill" id="cart-cnt">0</span>
                        </button>
                    </form>
                    
                    
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5" id="main-header">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-2 fw-bolder"><span>MULTI</span><span class="sub-yellow">SUB</span></h1>
                    <p class="lead fw-normal text-white-50 mb-0">Fresh Make Your Time!</p>
                </div>
            </div>
        </header>
        
        <!-- Section-->
        <section class="py-5" th:insert="${center} ? ${center} : center">
        <!-- center page -->

				  
         
		

                 
            
		<!-- center page -->   
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white"><a>영양정보표</a></p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        
        <script src="js/multi-sub.js"></script>
    </body>
</html>
