
<meta charset="UTF-8">
<style>
.orderimg{
	width:150px;
}
</style>


<div class="row gx-4 gx-lg-5 row-cols-3 row-cols-md-3 row-cols-xl-3 
justify-content-center" >                 
                  
<div class="col-xl-12 col-md-12 mb-12"  th:each="cart:${session.cartList}"> 
	<div class="card border-left-primary h-100 py-2">
	    <div class="card-body"  >
	        <div class="row no-gutters align-items-center">
	            <div class="col-xl-4"  id ="imgbox">
	                <img class="orderimg" src='/img/a1.jpg'  th:src="'/img/'+${cart.imgname}">
	            </div>
	            <div class="col-xl-4">
	                <div class="h5 font-weight-bold text-gray mb-0" th:text="'Name: '+${cart.name}">
	                    Customer Count</div>
	                <div class="h6 mb-0 font-weight-bold text-gray-800"  th:with="cnt=${cartStat.count}-1"
	                th:text="${session.toppingPrice[cnt]}+${cart.price}">
	                	30000
	                </div>
	            </div>
	            <div class="col-xl-4">
	            </div>    
	        </div>
	    </div>
	</div>
</div>
<span>총금액:</span><sapn></sapn>
	

</div>
