
<meta charset="UTF-8">

  

	<div class="row gx-4 gx-lg-5 row-cols-3 row-cols-md-3 row-cols-xl-3
	justify-content-space-between" >                 
	                  
	
		 <!-- product info page -->
		<div class="col mb-5" th:each="p:${prodlist}">
			<a  class="producta" th:href="@{sandwitchDetail(id=${p.id})}">
		     <div class="card h-100">
		         <!-- Product image-->
		         <img class="card-img-top productinfo--img" th:src="@{'/img/'+${p.imgname}}" alt="..." />
		         <!-- Product details-->
		         <div class="card-body p-4">
		             <div class="text-center">
		                 <!-- Product name-->
		                 <h5 class="fw-bolder" th:text=${p.name}>Fancy Product</h5>
		                 <!-- Product price-->
		                 <h5 class="" th:text=${p.price}+'Won'>Fancy Product</h5>
		                 
		             </div>
		         </div>
		     </div>
		    </a>
		    
		    <!-- modal
		  	<div class="modal fade" th:id="${p.id}" role="dialog">
			    <div class="modal-dialog modal-lg">
			      <div class="modal-content">
			        <div class="modal-header">
			         
			          <h4 class="modal-title" >선택해주세요.</h4>
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			        </div>
			        <div class="modal-body row gx-4 gx-lg-5 row-cols-2 row-cols-md-2 row-cols-xl-2
					justify-content-space-center" >
					<div class="col mb-5 justify-content-space-center">
						<a th:href="@{detail(id=${p.id},takeout=true)}">
							<img class="card-img-top mealmethod--img" src="/img/in.png" alt="..." />
						</a>	
					</div>		        
			        <div class="col mb-5">
			        	<a th:href="@{detail(id=${p.id},takeout=false)}">
			        		<img class="card-img-top mealmethod--img" src="/img/out.png" alt="..." />
			        	</a>	
	        		</div>
			      	          
			        </div>			        
			        <div class="modal-footer">
			        </div>
			      </div>
			    </div>			    
		  	</div>
		  	 -->

		</div>
		
	
		
		
	
	</div>
