
<meta charset="UTF-8">

<div class="col-xl-12 col-md-12 mb-12"  > 
   <div class="card border-left-primary h-100 py-2">
      <div class="card-body"  >
          <div class="row no-gutters align-items-center">
              <div class="col-xl-4"  id ="imgbox">
                  <img id="main" src='/img/a1.jpg' th:src="@{/img/}+ ${prod.imgname}">
              </div>
              <div class="col-xl-8">
                  <div class="h5 font-weight-bold text-gray mb-0" th:text="'Name: '+${prod.name}">
                      Customer Count</div>
                  <div class="h6 mb-0 font-weight-bold text-gray-800" th:text="'Price: '+${prod.price}">
                  	30000
                  </div>
              </div>
      
          </div>
      </div>
  </div>
</div>



<form id="topping-select">
    <input type="hidden" th:value="${prod.id}" name="prod">     
    <input type="hidden" value=999 name ="bread">
    <input type="hidden" value=999 name ="toast">
    <input type="hidden" value=999 name ="cm">
    <input type="hidden" value=999 name ="cheese">
    <input type="hidden" value=999 name ="others">
    <input type="hidden" value=999 name ="sauce">
    <input type="hidden" value=999 name ="vegetable">
  
	
	
	<!-- select Cheese page -->
	<div class="row gx-4 gx-lg-5 row-cols-3 row-cols-md-3 row-cols-xl-3
		justify-content-space-between" id = "select-cheese" style="display:none"> 
	<!-- product info page -->
		<div class="col mb-5" th:each="b:${cheese}" id="selectBox">
			<a  class="producta top-cheese" >
			<input  type="radio" name="cheese" th:value="${b.id}" >
		     <div class="card h-100 radio--select">
		         <!-- Product image-->
		         <img class="card-img-top productinfo--img" th:src="@{'/img/'+${b.imgname}}" alt="..." />
		         <!-- Product details-->
		         <div class="card-body p-4">
	                 <!-- Product name-->
	                 <h5 class="fw-bolder" th:text=${b.name}>Fancy Product</h5>	
          	     			                 
		         </div>
		     </div>
		    </a>
		</div>
		<div class="col mb-5"  id="selectBox">
			<a  class="producta top-cheese" >
			<input  type="radio" name="cheese" value="999" >
		     <div class="card h-100 radio--select">
		         <!-- Product image-->
		         <img class="card-img-top productinfo--img" src="/img/noselect.png" alt="..." />
		         <!-- Product details-->
		         <div class="card-body p-4">
	                 <!-- Product name-->
	                 <h5 class="fw-bolder" >선택 안함</h5>	
          	     			                 
		         </div>
		     </div>
		    </a>
		</div>
	</div>

	
	<!-- select Vegetable page -->
	<div class="row gx-4 gx-lg-5 row-cols-3 row-cols-md-3 row-cols-xl-3
		justify-content-space-between" id = "select-vegetable"> 
	<!-- product info page -->
			<div class="col mb-5" th:each="b:${vegetable}" id="selectBox">
				<a  class="producta top-vegetable" >
				 <input  type="checkbox" name="vegetable" th:value="${b.id}" >	
			     <div class="card h-100 radio--select">
			         <!-- Product image-->
			         <img class="card-img-top productinfo--img" th:src="@{'/img/'+${b.imgname}}" alt="..." />
			         <!-- Product details-->
			         <div class="card-body p-4">
			                 <!-- Product name-->
			                 <h5 class="fw-bolder" th:text=${b.name}>Fancy Product</h5>	                  
			         </div>
			     </div>
			    </a>
			</div>
	</div>
	
	<!-- select Sauce page -->
	<div class="row gx-4 gx-lg-5 row-cols-3 row-cols-md-3 row-cols-xl-3
		justify-content-space-between" id = "select-sauce"> 
	<!-- product info page -->
		<div class="col mb-5" th:each="b:${sauce}" id="selectBox">
			<a  class="producta top-sauce">
			<input type="checkbox" name="sauce" th:value="${b.id}" >
		     <div class="card h-100 radio--select">
		         <!-- Product image-->
		         <img class="card-img-top productinfo--img" th:src="@{'/img/'+${b.imgname}}" alt="..." />
		         <!-- Product details-->
		         <div class="card-body p-4">
                 	<!-- Product name-->
                 	<h5 class="fw-bolder" th:text=${b.name}>Fancy Product</h5>	                 
		         </div>
		     </div>
		    </a>
		</div>
	</div>
	
	<!-- select others page -->
	<div class="row gx-4 gx-lg-5 row-cols-3 row-cols-md-3 row-cols-xl-3
		justify-content-space-between" id = "select-others"> 
	<!-- product info page -->
		<div class="col mb-5" th:each="b:${others}" id="selectBox">
			<a  class="producta top-others">
			<input type="checkbox" name="others" th:value="${b.id}" >
		     <div class="card h-100 radio--select">
		         <!-- Product image-->
		         <img class="card-img-top productinfo--img" th:src="@{'/img/'+${b.imgname}}" alt="..." />
		         <!-- Product details-->
		         <div class="card-body p-4">
                 	<!-- Product name-->
                 	<h5 class="fw-bolder" th:text=${b.name}>Fancy Product</h5>	                 
                 	<h5 class="fw-bolder" th:text=${b.price}>Fancy Product</h5>
		         </div>
		     </div>
		    </a>
		</div>
	</div>
</form>
<button id="testBtn">test button</button>
<button id="nextBtn">NEXT button</button>
<script src="/js/toppingSalad.js"></script>