<meta charset="UTF-8">


<script>
$(document).ready(function(){
	$('#updatebtn').click(function(){
		$('#user_form').attr({
			'method':'post',
			'action':'update' 
		});
		$('#user_form').submit();
	});
	
	$('#deletebtn').click(function(){
		$('#user_form').attr({
			'method':'post',
			'action':'delete' 
		});
		$('#user_form').submit();
	});		
	
});

</script>

          
          <form class="form-horizontal" id="user_form">     
          <div class="form-group">
    		<h3 class="text-center">직원정보</h3>
			</div>
		<br>   <br>                 
              <div class="form-group">
                  <label class="control-label col-sm-2" for="id">ID</label>   
                  <div class="col-sm-4">          
                  <input type="text" class="form-control" name="id" th:value="${uvo.id}" readonly="readonly">
                  </div>
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2" for="pwd">비밀번호</label>
                  <div class="col-sm-4">  
                  <input type="text" class="form-control" name="pwd" th:value="${uvo.pwd}">
                  </div>    
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2" for="name">이름</label>
                  <div class="col-sm-4">
                  <input type="text" class="form-control" name="name" th:value="${uvo.name}">
                  </div>    
              </div>
              <div class="form-group">
                  <label class="control-label col-sm-2" for="email">이메일</label>
                  <div class="col-sm-4">              
                  <input type="text" class="form-control" name="email" th:value="${uvo.email}">
                  </div>
              </div>
 
               <div class="form-group">
                  <label class="control-label col-sm-2" for="addr">주소</label>
                  <div class="col-sm-4">               
                  <input type="text" class="form-control" name="addr" th:value="${uvo.addr}">
                  </div>
              </div>
              
              <div class="form-group">
                  <label class="control-label col-sm-2" for="phone">휴대폰번호</label>  
                  <div class="col-sm-4">              
                  <input type="text" class="form-control" name="phone" th:value="${uvo.phone}">
                  </div>
              </div> 
                           
              <div class="form-group">
                  <label class="control-label col-sm-2" for="regdate">입사일</label>
                  <div class="col-sm-4">              
                  <input type="text" class="form-control"
                      name="regdate" th:value="${#dates.format(uvo.regdate,'yyyy/MM/dd')}" 
                      readonly="readonly"/>
                  </div>
              </div>
              <br>
         
              
  <div class="form-group">                  
    <div class="col-sm-offset-2 col-sm-10">
      <button id="updatebtn" class="btn btn-default">수정</button>
      <button id="deletebtn" class="btn btn-default">삭제</button>
  </div>    </div>         
                                  
          </form>
