:root{
	--sub-yellow: #FFC20D;
	--sub-green: #009223;
	
}

.hidden{
	display: none;
}

#main-nav{
	margin-bottom: 1px;
}

.sub-green{
	color:var(--sub-green);
	
}

.sub-yellow{
	color:var(--sub-yellow)
}

#cartForm:hover{
	color:var(--sub-yellow);
}
#cart-cnt{
	background-color: var(--sub-yellow);
}

#cart-cnt:hover{
	color:var(--sub-yellow);
}

.producta{
	color: black; 
	text-decoration: none; 
	outline: none
}

.producta:hover, .producta:active {
	text-decoration: none; 
	color:var(--sub-green); 
	background-color:#f59000;
}

#cartForm{
	float:right;
}

#main-menu{
	justify-content: space-around;
	
}


#main-header{
	background-color: #009223
}

.sub-active{
	background-color: var(--sub-yellow);
	border-radius: 5px;
}

.sub-menu{
	font-weight: bold;
	margin-top: 0;
}



.sub-menu:visited{
	color:var(--sub-green);
}


.productinfo--img {
	width: inherit;
	height: 180px;
}

.mealmethod--img{
	height: 300px;
}


