<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.multisub.mapper.CouponDetailMapper">
	
	<select id="select" parameterType="int" resultType="coupondetailVO">
		SELECT * FROM COUPONDETAIL WHERE ID=#{id}
	</select>
	<select id="selectall" resultType="coupondetailVO">
		SELECT * FROM COUPONDETAIL
	</select>
	<insert id="insert" parameterType="coupondetailVO">
		INSERT INTO COUPONDETAIL VALUES (NULL, #{state}, #{useDate}, #{userId}, #{couponId})
	</insert>
	<update id="update" parameterType="coupondetailVO">
		UPDATE COUPONDETAIL SET STATE=#{state}, useDate=#{useDate}, userId=#{userId}, couponId=#{couponId} WHERE ID = #{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM COUPONDETAIL WHERE ID=#{id}
	</delete>
	
</mapper>