<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multisub.mapper.ToppingMapper">

	<select id="select" parameterType="int" resultType="ToppingVO">
		SELECT * FROM topping WHERE ID=#{id}
	</select>
	
	<select id="selectAll" resultType="ToppingVO">
		SELECT * FROM topping
	</select>
	<insert id="insert" parameterType="ToppingVO">
		INSERT INTO topping VALUES (NULL,#{name},#{price},#{imgname},#{cateId})
	</insert>
	<update id="update" parameterType="ToppingVO">
		UPDATE topping SET NAME=#{name},PRICE=#{price},IMGNAME=#{imgname},cateId=#{cateId} WHERE ID=#{id}
	</update>
	<delete id="delete" parameterType="int">
		DELETE FROM topping WHERE ID=#{id}
	</delete>	
</mapper>